:root {
  --light-accent: #6db6fe;
  --medium-accent: #3299ff;
  --dark-accent: #0068ff;
}

.light-theme {
  --light-color: #f1fff3;
  --medium-color: #dff7e2;
  --dark-color: #00d09e;
  --text-color: black;
}

.dark-theme {
  --light-color: #0e3e3e;
  --medium-color: #052224;
  --dark-color: #031314;
  --text-color: white;
}
