@font-face {
  font-family: 'Poppins';
  src: local('Poppins-Regular'), local('Poppins-Medium'),
    local('Poppins-SemiBold'),
    url('./fonts/Poppins-Regular.ttf') format('truetype'),
    url('./fonts/Poppins-Medium.ttf') format('truetype'),
    url('./fonts/Poppins-SemiBold.ttf') format('truetype');
}

body {
  font-family: sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}
